body {
    background-color: #2d2d30;
}
h1 {
    color: red;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4vh;
}

h2 {
    font-size: 2em;
    color: blue;
}

div > img.yelpImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body > form {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    width: 60vw;
    margin: auto;
}

body > form > div.group {
    width: 100%;
    text-align: center;
}

body > form > div.group > input, body > form > div.group > select {
    width: 50vw;
    background-color: #2d2d30;
    color: white;
    margin: auto;
    display: block;
    margin-bottom: 2vh;
    margin-top: 1vh;
    text-align: center;
}

body > form > div.group > label {
    color: black;
    font-size: 2em;
}

body > form > div.group > button {
    background-color: #2d2d30;
    color: white;
    font-size: 2em;
    border: 0;
    margin-bottom: 1vh;
}

body > form > div.group > button:hover {
    background-color: gray;
    cursor: pointer;
}