*, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2d2d30;
}

h1 {
    color: red;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4vh;
}

body > nav {
    width: 100%;
    background-color: #2d2d30;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

body > nav > a {
    font-size: 1.5em;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    background-color: #2d2d30;
    text-decoration: none;
    color: white;
}

body > nav > a:hover {
    background-color: gray;
    cursor: pointer;
}

body > div.restaurant {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    width: 60vw;
    margin: auto;
    margin-top: 1vh;
}

body > div.restaurant > div.item {
    width: 100%;
    text-align: center;
    margin-bottom: 2vh;
}

body > div.restaurant > div.item > h2.r_name {
    color: black;
    font-size: 2em;
}

body > div.restaurant > div.item > p.r_location {
    color: black;
    font-size: 1.5em;
}

body > div.restaurant > div.item > p.r_phone {
    color: black;
    font-size: 1.5em;
}

body > div.restaurant > div.item > p.r_price {
    color: black;
    font-size: 1.5em;
}

body > div.restaurant > div.item > a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    background-color: black;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
}

body > div.restaurant > div.item > a:hover {
    background-color: gray;
    cursor: pointer;
}