*, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1d1b26;
}

h1 {
    font-size: 6vh;
    color: orangered;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4vh;
}

h2 {
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3vh;
}

h3{
    font-size: 1.5em;
    color: gold;
    margin: 0 auto;
    text-align: left;
    padding-top: 5vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
}

body > nav {
    width: 100%;
    background-color: #1d1b26;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

body > nav > a {
    font-size: 1.5em;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    background-color: #1d1b26;
    text-decoration: none;
    color: white;
    border: 0.5vh;
    border-style: solid;
    border-color: white;
}

body > nav > a:hover {
    background-color: gray;
    cursor: pointer;
}

body > div.restaurant {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    width: 60vw;
    margin: auto;
    margin-top: 1vh;
    border: .75vh;
    border-style: solid;
    border-radius: .75vh;
    border-color: orangered;
}

body > div.restaurant > div.item {
    width: 100%;
    text-align: center;
    margin-bottom: 2vh;
}

body > div.restaurant > div.item > h2.r_name {
    color: #1d1b26;
    font-size: 2em;
}

body > div.restaurant > div.item > p.r_location {
    color: #1d1b26;
    font-size: 1.5em;
}

body > div.restaurant > div.item > p.r_phone {
    color: #1d1b26;
    font-size: 1.5em;
}

body > div.restaurant > div.item > p.r_price {
    color: #1d1b26;
    font-size: 1.5em;
}

body > div.restaurant > div.item > a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    background-color: #1d1b26;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
}

body > div.restaurant > div.item > a:hover {
    background-color: gray;
    cursor: pointer;
}

body > div.restaurant2{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
    width: 40vw;
    margin: auto;
    margin-top: 1vh;
}

body > div.restaurant2 > div.item {
    width: 100%;
    text-align: center;
    margin-bottom: 2vh;
}

body > div.restaurant2 > div.item > h2.r_name {
    color: #1d1b26;
    font-size: 1.75em;
}

body > div.restaurant2 > div.item > p.r_location {
    color: #1d1b26;
    font-size: 1.25em;
}

body > div.restaurant2 > div.item > p.r_phone {
    color: #1d1b26;
    font-size: 1.25em;
}

body > div.restaurant2 > div.item > p.r_price {
    color: #1d1b26;
    font-size: 1.25em;
}

body > div.restaurant2 > div.item > a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    background-color: #1d1b26;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
}

body > div.restaurant2 > div.item > a:hover {
    background-color: gray;
    cursor: pointer;
}