<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
        <h1>Funky Fresh Finder</h1>
        <form action="{{url_for("get_form")}}" method="post">
            <div class="group">
                <label for="term">Food Type</label>
            </div>
            <div class="group">
                {% if fd %}
                <input type="text" name="term" id="term" value="{{fd.term}}">
                {% else %}
                <input type="text" name="term" id="term">
                {% endif %}
            </div>
            <div class="group">
                <label for="location">Location</label>
            </div>
            <div class="group">
                {% if fd %}
                <input type="text" name="location" id="location" value="{{fd.location}}">
                {% else %}
                <input type="text" name="location" id="location">
                {% endif %}
            </div>
            <div class="group">
                <label for="radius">Radius</label>
            </div>
            <div class="group">
                {% if fd %}
                <input type="number" name="radius" id="radius" step="any" value="{{fd.radius}}">
                {% else %}
                <input type="number" name="radius" id="radius" step="any">
                {% endif %}
            </div>
            <div class="group">
                <label for="categories">Categories</label>
            </div>
            <div class="group">
                {% if fd %}
                <input type="text" name="categories" id="categories" value="{{fd.categories}}">
                {% else %}
                <input type="text" name="categories" id="categories">
                {% endif %}
            </div>
            <div class="group">
                <label for="price">Price</label>
            </div>
            <div class="group">
                <select name="price" id="price">
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                </select>
            </div>
            <div class="group">
                <button type="submit">Find Food</button>
            </div>
        </form>
        {% if name %}
        <h2 id="rName">Random Restaurant: {{name}}</h2>
        {% endif %}
        {% if imgUrl%}
        <div>
            <img src="{{ imgUrl }}" alt="Image" class="yelpImg">
        </div>
        {% endif %}
        {% if errorMsg %}
        <h2 id="rError">Uh oh! {{errorMsg}}</h2>
        {% endif %}
    </body>
</html>