<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
        <h1>Funky Fresh Finder</h1>
        <form action="{{url_for("get_form")}}" method="post">
            <div class="group">
                <label for="term">Food Type</label>
            </div>
            <div class="group">
                <input type="text" name="term" id="term">
            </div>
            <div class="group">
                <label for="location">Location</label>
            </div>
            <div class="group">
                <input type="text" name="location" id="location">
            </div>
            <div class="group">
                <label for="radius">Radius</label>
            </div>
            <div class="group">
                <input type="number" name="radius" id="radius" step="any">
            </div>
            <div class="group">
                <label for="categories">Categories</label>
            </div>
            <div class="group">
                <input type="text" name="categories" id="categories">
            </div>
            <div class="group">
                <label for="price">Price</label>
            </div>
            <div class="group">
                <input type="text" name="price" id="price">
            </div>
            <div class="group">
                <button type="submit">Submit</button>
            </div>
        </form>
        {% if name %}
        <h2 id="rName">Random Restaurant: {{name}}</h2>
        {% endif %}
        {% if imgUrl%}
        <div>
            <img src="{{ imgUrl }}" alt="Image" class="yelpImg">
        </div>
        {% endif %}
        {% if errorMsg %}
        <h2 id="rError">Uh oh! {{errorMsg}}</h2>
        {% endif %}
    </body>
</html>