<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
        <h1>Funky Fresh Finder</h1>
        <form action="{{url_for("getForm")}}" method="post">
            <label for="term">Food Type</label>
            <input type="text" name="term" id="term" >
            <label for="location">Location</label>
            <input type="text" name="location" id="location">
            <label for="latitude">Latitude</label>
            <input type="number" name="latitude" id="latitude">
            <label for="longitude">Longitude</label>
            <input type="number" name="longitude" id="longitude">
            <label for="radius">Radius</label>
            <input type="number" name="radius" id="radius">
            <label for="categories">Categories</label>
            <input type="text" name="categories" id="categories">
            <label for="Price">Price</label>
            <input type="range" min="1" max="5" value="3" name="categories" id="categories">
            <button type="submit">Submit</button>
        </form>
        {% if name %}
        <h2 id="rName">Random Restruant: {{name}}</h2>
        {% endif %}
        {% if imgUrl%}
        <div>
            <img src="{{ imgUrl }}" alt="Image" class="yelpImg">
        </div>
        {% endif %}
    </body>
</html>