<html> 
    <head>
        <title>Random Restaurant</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='restaurant.css') }}">
    </head>
    <body>
        <nav>
            <a href="/home">Back</a>
        </nav>
        {% if error %}
            <h1 id="error">An error has occured in the program!</h1>
        {% else %} 
            <div class="restaurant">
                <div class="item">
                    <h2 class="r_name">{{restaurant.name}}</h2>
                </div>
                <div class="item"> 
                    <p class="r_location">Location: {{restaurant.location}}</p>
                </div>
                <div class="item"> 
                    <p class="r_phone">Phone Number: {{restaurant.phone}}</p>
                </div>
                <div class="item"> 
                    <p class="r_price">Price ($ - $$$$): {{restaurant.price}}</p>
                </div>
                <div class="item"> 
                    <a href="{{restaurant.url}}">Website</a>
                </div>
                <div class="item">
                    <a href="/choose_again" class="user_option">Choose Again</a>
                </div>
                <div class="item">
                    <a href="/" class="user_option">Save Restaurant</a>
                </div>
            </div>
        {% endif %}
    </body>
</html>