<html> 
    <head>
        <title>Random Restaurant</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='restaurant.css') }}">
    </head>
    <body>
        <nav>
            <a href="/home">Back</a>
        </nav>
        <h1>Funky Fresh Finder</h1>
        {% if error %}
            <h1 id="error">An error has occured in the program!</h1>
        {% else %} 
            <div class="restaurant">
                <div class="item">
                    <h2 class="r_name">{{restaurant.name}}</h2>
                </div>
                <div class="item"> 
                    <p class="r_location">Location: <u>{{restaurant.location}}</u></p>
                </div>
                <div class="item"> 
                    <p class="r_phone">Phone Number: <u>{{restaurant.phone}}</u></p>
                </div>
                <div class="item"> 
                    <p class="r_price">Price ($ - $$$$): <u>{{restaurant.price}}</u></p>
                </div>
                <div class="item"> 
                    <a href="{{restaurant.url}}">Website</a>
                    <a href="/choose_again" class="user_option">Choose Again</a>
                    <a href="/saved" class="user_option">Save Restaurant</a>
                </div>
            </div>
        {% endif %}
        {% if saved %} 
            <h3>Saved Restaurants: </h3>
            {% for i in range(len) %}
                <div class="restaurant2">
                    <div class="item">
                        <h2 class="r_name">{{saved[i].name}}</h2>
                    </div>
                    <div class="item"> 
                        <p class="r_location">Location:   <u>{{saved[i].location}}</u></p>
                    </div>
                    <div class="item"> 
                        <p class="r_phone">Phone Number:   <u>{{saved[i].phone}}</u></p>
                    </div>
                    <div class="item"> 
                        <p class="r_price">Price ($ - $$$$):   <u>{{saved[i].price}}</u></p>
                    </div>
                    <div class="item"> 
                        <a href="{{saved[i].url}}">Website</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>